body {
    font-family: Consolas, "Courier New", Courier, monospace;
    background-color: black;
    color: white;

}
.err {
    margin: 70px
}

.bigtext {
    font-size: 300%;
    font-style: bold;
    color: white;
}

.hreflinkerr {
    color: grey;
}