body {
    font-family: Consolas, "Courier New", Courier, monospace;
    background-color: black;
    color: white;

}
.err {
    margin: 70px
}

.errcenter {
    margin: 70px;
    text-align: center;
    color: grey;
}

.bigtext {
    font-size: 300%;
    font-style: bold;
    color: white;
}

.hreflinkerr {
    color: grey;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  li {
    float: left;
    color:rgb(0, 0, 0)
  }

  .otherli {
    float: right;
    color:rgb(0, 0, 0)
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: darkblue;
  }

  .centerheader {
    float: center;
    text-align: center;
    font-size: 72px;
  }

  .grid-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
  }


  .grid-image {
    width: 300; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
  }